{% extends "error.html" %}
{% load i18n %}

{% block title %}{% trans "Jabber server unavailable" %}{% endblock title %}

{% block content %}
<div class="alert alert-danger">{% blocktrans %}<strong>Error:</strong> The Jabber server itself is currently unavailable.
Please try again later!{% endblocktrans %}</div>

{% url 'core:contact' as contact_url %}
<p>{% blocktrans %}Please <a href="{{ contact_url }}">contact us</a> if the problem persists
and nothing is mentioned in our news feed.{% endblocktrans %}</p>
{% endblock content %}
