{% extends "groups/base.html" %}
{% load i18n %}

{% block title %}{% trans "Editing details for group " %}'{{ group.name }}'{% endblock title %}

{% block content %}
<table class="table table-bordered">
	<tr>
		<th>{% trans "Description" %}:</th>
		<td>{{ group.description }}</td>
	</tr>
	<tr>
		<th>{% trans "Displayed to group(s)" %}:</th>
		<td>{{ group.displayed_to }}</td>
	</tr>
	<tr>
		<th>{% trans "Owner(s)" %}:</th>
		<td>{% for user in group.owners.all %}{{ user.username }}<br>{% endfor %}</td>
	</tr>
	<tr>
		<th>{% trans "Member(s)" %}:</th>
		<td>{% for user in group.members.all %}{{ user.username }}<br>{% endfor %}</td>
	</tr>
</table>
{% endblock content %}
