{% extends "groups/base.html" %}
{% load i18n %}

{% block title %}{% trans "Details of group" %} '{{ group.name }}'{% endblock title %}

{% block content %}
<table class="table table-bordered">
	<tr>
		<th>{% trans "Name" %}:</th>
		<td>{{ group.name }}</td>
	</tr>
	<tr>
		<th>{% trans "Description" %}:</th>
		<td>{{ group.description }}</td>
	</tr>
	<tr>
		<th>{% trans "Displayed to this group" %}:</th>
		<td>{% trans "members of group(s)" %} '{{ group.displayed_to }}'</td>
	</tr>
	<tr>
		<th>{% trans "Owner(s)" %}:</th>
		<td>{% for user in group.owners.all %}{{ user.username }}<br>{% endfor %}</td>
	</tr>
	<tr>
		<th>{% trans "Member(s)" %}:</th>
		<td>{% for user in group.members.all %}{{ user.username }}<br>{% endfor %}</td>
	</tr>
</table>
<a href="/groups/edit/{{ group.id }}" class="btn btn-default" role="button">{% trans "Edit group..." %}</a>
<a href="/groups/leave/{{ group.id }}" class="btn btn-default" role="button">{% trans "Leave group..." %}</a>
{% endblock content %}
