{% extends "groups/base.html" %}
{% load i18n %}

{% block title %}{{ user.username }}<br>{% trans "Overview" %}{% endblock title %}

{% block content %}
<p>{% blocktrans %}This app allows you to manage shared roster groups.{% endblocktrans %}</p>
<p>{% blocktrans with own=view.my_ownerships %}You currently own {{ own }} groups.{% endblocktrans %}</p>
<p>{% blocktrans with mem=view.my_memberships %}You are currently a member of another {{ mem }} groups.{% endblocktrans %}</p>
{% endblock content %}
