{% extends "groups/base.html" %}
{% load i18n %}

{% block title %}{{ user.username }}{% endblock title %}

{% block content %}
<table class="table table-striped table-hover">					 
	<thead>
		<tr>
			<th><h3>{% trans "My groups" %}</h3></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for group in user.owner.all %}
		<tr>
			<td>{{ group.name }}</td>
			<td>"{{ group.description }}"</td>
			<td><a href="{% url 'groups:details' group.id %}" class="btn btn-default" role="button">{% trans "More information..." %}</a></td>
			<td><a href="{% url 'groups:edit' group.id %}" class="btn btn-default" role="button">{% trans "Edit group..." %}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}

