{% load i18n static canonical %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "Language" %}</h3>
  </div>
  <ul class="list-group">
  {% for code, name in other_langs %}
    {% language code %}
    <li class="list-group-item">
        <img src="{% static "core/img/" %}{{ code }}.svg" class="bullet"> <a href="{% url "core:api-set-lang" %}?lang={{ code }}&next={{ request.get_full_path|urlencode }}" rel="nofollow">{{ name }}</a>
    </li>
    {% endlanguage %}
  {% endfor %}
  </ul>
</div>

<div class="panel panel-default follow-panel">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "Updates" %}</h3>
  </div>
  <div class="panel-body"><p>{% trans "If you use our server, we strongly encourage you to stay up to date." %}</p></div>
  <ul class="list-group">
    <li class="list-group-item">
        <a href="{% url "feed:rss2" language=LANGUAGE_CODE %}">
            <img src="{% static "core/img/rss.svg" %}" class="bullet">RSS feed</a>
    </li>
    <li class="list-group-item">
        <a href="{% url "feed:atom" language=LANGUAGE_CODE %}">
            <img src="{% static "core/img/rss.svg" %}" class="bullet">Atom feed</a>
    </li>
  </ul>
</div>

<div class="panel panel-default follow-panel">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "More from RWTH Aachen University" %}</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
        <a href="https://twitter.com/rwth">
            <img src="{% static "core/img/smtw.svg" %}" class="bullet">@RWTH</a>
    </li>
    <li class="list-group-item">
        <a href="https://facebook.com/RWTHAachenUniversity">
            <img src="{% static "core/img/629hwmjt.svg" %}" class="bullet">/RWTHAachenUniversity</a>
    </li>
    <li class="list-group-item">
        <a href="http://blog.rwth-aachen.de/itc/">
            <img src="{% static "core/img/rss.svg" %}" class="bullet">IT Center Blog</a>
    </li>
    <li class="list-group-item">
        <a href="http://blog.rwth-aachen.de/">
            <img src="{% static "core/img/rss.svg" %}" class="bullet">RWTH-Blogs</a>
    </li>
  </ul>
</div>

<div class="panel panel-default follow-panel">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "Badges" %}</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
    <svg xmlns="http://www.w3.org/2000/svg" width="250" height="18" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
	<linearGradient id="a" x2="0" y2="100%">
		<stop offset="0"  stop-color="#fff" stop-opacity=".7"/>
		<stop offset=".1" stop-color="#aaa" stop-opacity=".1"/>
		<stop offset=".9"                   stop-opacity=".3"/>
		<stop offset="1"                    stop-opacity=".5"/>
	</linearGradient>
	<rect rx="4"         width="250" height="18" fill="#555"/>
	<rect rx="4" x="160" width="90"  height="18" fill="#5CB85C"/>
	<rect rx="4"         width="250" height="18" fill="url(#a)"/>
	<g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11">
		<a xlink:href="https://xmpp.net/result.php?domain=jabber.rwth-aachen.de&amp;type=server">
			<text x="48"  y="14" fill="#010101" fill-opacity=".3">IM Observatory</text>
			<text x="48"  y="13"                                 >IM Observatory</text>
			<text x="186" y="14" fill="#010101" fill-opacity=".3">s2s: A,</text>
			<text x="186" y="13"                                 >s2s: A,</text>
		</a>
		<a xlink:href="https://xmpp.net/result.php?domain=jabber.rwth-aachen.de&amp;type=client">
			<text x="226" y="14" fill="#010101" fill-opacity=".3">c2s: A</text>
			<text x="226" y="13"                                 >c2s: A</text>
		</a>
	</g>
    </svg>
    </li>
    <li class="list-group-item">
    <svg xmlns="http://www.w3.org/2000/svg" width="250" height="18" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
	<linearGradient id="a" x2="0" y2="100%">
		<stop offset="0"  stop-color="#fff" stop-opacity=".7"/>
		<stop offset=".1" stop-color="#aaa" stop-opacity=".1"/>
		<stop offset=".9"                   stop-opacity=".3"/>
		<stop offset="1"                    stop-opacity=".5"/>
	</linearGradient>
	<rect rx="4"         width="250" height="18" fill="#555"/>
	<rect rx="4" x="160" width="90"  height="18" fill="#5CB85C"/>
	<rect rx="4"         width="250" height="18" fill="url(#a)"/>
	<g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11">
		<a xlink:href="https://compliance.conversations.im/server/jabber.rwth-aachen.de">
			<text x="74"  y="14" fill="#010101" fill-opacity=".3">XMPP Compliance Tester</text>
			<text x="74"  y="13"                                 >XMPP Compliance Tester</text>
			<text x="203" y="14" fill="#010101" fill-opacity=".3">100% (17/17)</text>
			<text x="203" y="13"                                 >100% (17/17)</text>
		</a>
	</g>
    </svg>
    </li>
    <li class="list-group-item">
    <svg xmlns="http://www.w3.org/2000/svg" width="250" height="18" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
	<linearGradient id="a" x2="0" y2="100%">
		<stop offset="0"  stop-color="#fff" stop-opacity=".7"/>
		<stop offset=".1" stop-color="#aaa" stop-opacity=".1"/>
		<stop offset=".9"                   stop-opacity=".3"/>
		<stop offset="1"                    stop-opacity=".5"/>
	</linearGradient>
	<rect rx="4"         width="250" height="18" fill="#555"/>
	<rect rx="4" x="160" width="90"  height="18" fill="#5CB85C"/>
	<rect rx="4"         width="250" height="18" fill="url(#a)"/>
	<g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11">
		<a xlink:href="https://www.ssllabs.com/ssltest/analyze.html?d=jabber.rwth-aachen.de">
			<text x="49"  y="14" fill="#010101" fill-opacity=".3">SSL Server Test</text>
			<text x="49"  y="13"                                 >SSL Server Test</text>
			<text x="205" y="14" fill="#010101" fill-opacity=".3">A+</text>
			<text x="205" y="13"                                 >A+</text>
		</a>
	</g>
    </svg>
    </li>
  </ul>
</div>


